@charset "UTF-8";
/* Для шриштів: налаштування шрифта+кирилиця, підключаємо завжди! Чистимо непотрібні розміри шрифта в посиланні, для кращої оптимізації.
 &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap&subset=cyrillic-ext");
/* Обнулення СТИЛІВ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ffffff;
  position: relative;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.footer {
  padding: 20px 0px 20px 20px;
  background-color: #5d62b5;
}

.footer__content {
  text-align: center;
}

.footer a {
  color: #f2726f;
}

/* --------------- */
/* Умовні ПК, ноути та телевизори */
/* 1050 з макета (контейнер + відступи) */
/* Умовні планшети */
/* Умовні мобільні */
/* Mobile First */
[class*="__container"] {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1020px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 855.98px) {
  .header .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 0px 0px 0px;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__content:not(:last-child) {
    margin-bottom: 22px;
  }
  .header .header__info {
    min-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 800px;
  }
}

@media (max-width: 767.98px) {
  .header .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 0px 0px 0px;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
  }
}

@media (max-width: 767.98px) and (max-width: 767.98px) {
  .header .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .header .header__content:not(:last-child) {
    margin-bottom: 15px;
  }
  .header .header__info {
    opacity: 0;
    visibility: hidden;
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 26px 0px 0px 0px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content:not(:last-child) {
  margin-bottom: 28px;
}

.header__logo {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.5;
  padding: 0px 0px 0px 50px;
  background: url(../img/CarRepairandDoggie/header/logo.svg) 0 0 no-repeat;
  min-height: 42px;
}

@media (max-width: 855.98px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 35px 0px 0px 0px;
    background: url(../img/CarRepairandDoggie/header/logo.svg) center 0/36px 36px no-repeat;
  }
  .header__logo:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 767.98px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 0px 0px 0px 30px;
    min-width: auto;
    font-size: 20px;
    background: url(../img/CarRepairandDoggie/header/logo.svg) 0 10px/20px no-repeat;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 100%;
  }
}

@media (max-width: 585.98px) {
  .header__nav {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 715.98px) {
  .info-header {
    display: none;
  }
}

.info-header__items {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.15px;
  padding: 0px 0px 0px 30px;
}

.info-header__items:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.info-header__items_hours {
  background: url(../img/CarRepairandDoggie/header/time.svg) 0 0 no-repeat;
}

.info-header__items_call {
  background: url(../img/CarRepairandDoggie/header/phone.svg) 0 0 no-repeat;
}

.info-header__title {
  text-transform: uppercase;
}

.info-header__info a {
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-header__info a:hover {
  color: #f2726f;
}

.link {
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #f2726f;
  padding: 4px 34px 4px 34px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.link:hover {
  color: #f2726f;
  background-color: #ffffff;
  border: 1px solid #f2726f;
}

.nav-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 20px 40px 20px 40px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

@media (max-width: 767.98px) {
  .nav-header {
    padding: 15px 20px 15px 20px;
  }
}

@media (max-width: 715.98px) {
  .nav-header {
    margin-top: 40px;
  }
}

@media (max-width: 585.98px) {
  .nav-header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.nav-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

@media (max-width: 585.98px) {
  .nav-header__items {
    display: none;
  }
}

.nav-header__items:hover {
  color: #f2726f;
}

.nav-header__item {
  margin: 0px 35px 0px 0px;
}

@media (max-width: 767.98px) {
  .nav-header__item {
    margin: 0px 20px 0px 0px;
  }
}

.nav-header__item_arrow {
  position: relative;
}

.nav-header__item_arrow::after {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/CarRepairandDoggie/header/more.svg) 0 0 no-repeat;
  position: absolute;
  top: 3px;
  left: 60px;
  cursor: pointer;
}

.nav-header__item_arrows {
  position: relative;
}

.nav-header__item_arrows::after {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/CarRepairandDoggie/header/more.svg) 0 0 no-repeat;
  position: absolute;
  top: 3px;
  left: 35px;
  cursor: pointer;
}

.nav-header__item a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 321.98px) {
  .nav-header__item a {
    font-size: 16px;
  }
}

.nav-header__item a:hover {
  color: #f2726f;
}

.nav-search {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.nav-search__input {
  margin: 0px 0px 0px 20px;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.nav-search__input:hover {
  border-bottom: 2px solid #f2726f;
}

.nav-search__input:focus {
  outline: none;
}

.nav-search__label {
  cursor: pointer;
  margin-right: 22px;
}

.main {
  position: relative;
}

.premier {
  background: url(../img/CarRepairandDoggie/who_we_are/main_bg.jpg) center/cover no-repeat;
  padding: 280px 0px 312px 0px;
  width: 100%;
  min-height: 100%;
}

@media (max-width: 991.98px) {
  .premier {
    padding: 270px 0px 312px 0px;
  }
}

@media (max-width: 767.98px) {
  .premier {
    padding: 150px 0px 150px 0px;
  }
}

@media (max-width: 715.98px) {
  .premier {
    padding: 180px 0px 230px 0px;
  }
}

@media (max-width: 585.98px) {
  .premier {
    padding: 180px 0px 150px 0px;
  }
}

@media (max-width: 482.98px) {
  .premier {
    padding: 160px 0px 150px 0px;
  }
}

@media (max-width: 322.98px) {
  .premier {
    padding: 160px 0px 150px 0px;
  }
}

.premier__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.premier__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: 583px;
  font-weight: 900;
  font-size: 56px;
  line-height: 1;
  color: #ffffff;
}

.premier__title:not(:last-child) {
  margin-bottom: 48px;
}

@media (max-width: 767.98px) {
  .premier__title {
    font-size: 46px;
  }
  .premier__title:not(:last-child) {
    margin-bottom: 38px;
  }
}

@media (max-width: 715.98px) {
  .premier__title {
    font-size: 42px;
  }
  .premier__title:not(:last-child) {
    margin-bottom: 28px;
  }
}

@media (max-width: 585.98px) {
  .premier__title:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 482.98px) {
  .premier__title {
    font-size: 36px;
  }
  .premier__title:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 393.98px) {
  .premier__title {
    font-size: 28px;
  }
}

.link_style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
  padding: 12px 34px 12px 34px;
}

.who-we-are {
  background-color: #f5f5f5;
  padding: 0px 0px 87px 0px;
}

@media (max-width: 715.98px) {
  .who-we-are {
    padding: 0px 0px 0px 0px;
  }
}

.who-we-are__body {
  position: relative;
  top: -80px;
  left: 0;
  background: #5d62b5;
  border-radius: 40px;
  padding: 100px 87px 0px 87px;
}

.who-we-are__body::before {
  content: "";
  width: 201px;
  height: 317px;
  background: url(../img/CarRepairandDoggie/decor/Circles.svg) center no-repeat;
  position: absolute;
  top: -110px;
  right: -78px;
}

@media (max-width: 585.98px) {
  .who-we-are__body::before {
    opacity: 0;
    overflow: hidden;
  }
}

@media (max-width: 715.98px) {
  .who-we-are__body {
    padding: 80px 67px 0px 67px;
  }
}

@media (max-width: 585.98px) {
  .who-we-are__body {
    padding: 50px 47px 0px 47px;
  }
}

@media (max-width: 531.98px) {
  .who-we-are__body {
    padding: 50px 37px 0px 37px;
  }
}

@media (max-width: 482.98px) {
  .who-we-are__body {
    padding: 50px 27px 0px 27px;
  }
}

@media (max-width: 369.98px) {
  .who-we-are__body {
    padding: 30px 17px 0px 17px;
  }
}

@media (max-width: 321.98px) {
  .who-we-are__body {
    padding: 30px 17px 0px 17px;
  }
}

.who-we-are__content {
  color: #f5f5f5;
  position: relative;
  z-index: 2;
}

.who-we-are__content:not(:last-child) {
  margin-bottom: 54px;
}

@media (max-width: 321.98px) {
  .who-we-are__content:not(:last-child) {
    margin-bottom: 30px;
  }
}

.who-we-are__icon {
  font-weight: bold;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  background: url(../img/CarRepairandDoggie/icon/icon.svg) 0 -2px no-repeat;
  padding: 0px 0px 0px 32px;
}

.who-we-are__icon:not(:last-child) {
  margin-bottom: 33px;
}

@media (max-width: 321.98px) {
  .who-we-are__icon:not(:last-child) {
    margin-bottom: 13px;
  }
}

.who-we-are__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.16;
  color: #ffffff;
  max-width: 583px;
}

.who-we-are__title:not(:last-child) {
  margin-bottom: 36px;
}

@media (max-width: 768.98px) {
  .who-we-are__title {
    font-size: 34px;
  }
}

@media (max-width: 737.98px) {
  .who-we-are__title {
    font-size: 32px;
  }
}

@media (max-width: 665.98px) {
  .who-we-are__title {
    font-size: 30px;
  }
}

@media (max-width: 634.98px) {
  .who-we-are__title {
    font-size: 28px;
  }
}

@media (max-width: 603.98px) {
  .who-we-are__title {
    font-size: 26px;
  }
}

@media (max-width: 531.98px) {
  .who-we-are__title {
    font-size: 24px;
  }
}

@media (max-width: 421.98px) {
  .who-we-are__title {
    font-size: 24px;
  }
  .who-we-are__title:not(:last-child) {
    margin-bottom: 13px;
  }
}

@media (max-width: 321.98px) {
  .who-we-are__title:not(:last-child) {
    margin-bottom: 13px;
  }
}

.who-we-are__text {
  line-height: 24px;
  letter-spacing: 0.15px;
}

@media (max-width: 321.98px) {
  .who-we-are__text {
    font-size: 20px;
  }
}

.who-we-are__picture::before {
  content: "";
  width: 553px;
  height: 385px;
  background: url(../img/CarRepairandDoggie/decor/Blob.svg) center no-repeat;
  position: absolute;
  bottom: -15px;
  left: 30px;
  z-index: 1;
}

@media (max-width: 585.98px) {
  .who-we-are__picture::before {
    opacity: 0;
    overflow: hidden;
  }
}

.who-we-are__img {
  position: relative;
  max-width: 100%;
  border-radius: 40px;
  margin-bottom: -11%;
  z-index: 3;
  -webkit-box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}

@media (max-width: 767.98px) {
  .who-we-are__img {
    margin-bottom: -7%;
  }
}

.dog {
  background-color: #29c3be;
  padding: 112px 0px 0px 0px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 585.98px) {
  .dog {
    padding: 50px 0px 50px 0px;
  }
}

.dog__container {
  position: relative;
}

.dog__container::before {
  content: "";
  width: 236px;
  height: 317px;
  background: url(../img/CarRepairandDoggie/dog/Circles_dog.svg) 0 0 no-repeat;
  position: absolute;
  top: -50px;
  left: -50px;
  -webkit-transform: translate(-56%, -10%);
      -ms-transform: translate(-56%, -10%);
          transform: translate(-56%, -10%);
}

@media (max-width: 1036.98px) {
  .dog__container::before {
    display: none;
  }
}

.dog__container::after {
  content: "";
  width: 495px;
  height: 380px;
  background: url(../img/CarRepairandDoggie/dog/blob_3.png) 0 0 no-repeat;
  position: absolute;
  top: -50px;
  left: -50px;
  -webkit-transform: translate(-50%, -60%);
      -ms-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}

.dog__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1036.98px) {
  .dog__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.body-dog {
  position: relative;
  margin: 0px -25px 0px -25px;
}

@media (max-width: 585.98px) {
  .body-dog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.body-dog::before {
  content: "";
  width: 500px;
  height: 621px;
  background: url(../img/CarRepairandDoggie/dog/Line.svg) 100% no-repeat;
  position: absolute;
  top: 0px;
  right: 30px;
  -webkit-transform: translate(18%, -38%);
      -ms-transform: translate(18%, -38%);
          transform: translate(18%, -38%);
}

@media (max-width: 1328.98px) {
  .body-dog::before {
    -webkit-transform: translate(8%, -38%);
        -ms-transform: translate(8%, -38%);
            transform: translate(8%, -38%);
  }
}

@media (max-width: 1234.98px) {
  .body-dog::before {
    -webkit-transform: translate(3%, -38%);
        -ms-transform: translate(3%, -38%);
            transform: translate(3%, -38%);
  }
}

@media (max-width: 1150.98px) {
  .body-dog::before {
    -webkit-transform: translate(-5%, -38%);
        -ms-transform: translate(-5%, -38%);
            transform: translate(-5%, -38%);
  }
}

@media (max-width: 1076.98px) {
  .body-dog::before {
    -webkit-transform: translate(-8%, -38%);
        -ms-transform: translate(-8%, -38%);
            transform: translate(-8%, -38%);
  }
}

@media (max-width: 991.98px) {
  .body-dog::before {
    -webkit-transform: translate(-8%, -38%);
        -ms-transform: translate(-8%, -38%);
            transform: translate(-8%, -38%);
  }
}

@media (max-width: 585.98px) {
  .body-dog::before {
    display: none;
  }
}

.body-dog::after {
  content: "";
  width: 200px;
  height: 200px;
  background: url(../img/CarRepairandDoggie/dog/ball.png) 100% no-repeat;
  position: absolute;
  top: 0px;
  right: 50px;
  -webkit-transform: translate(95%, 0);
      -ms-transform: translate(95%, 0);
          transform: translate(95%, 0);
}

@media (max-width: 1328.98px) {
  .body-dog::after {
    -webkit-transform: translate(75%, 0);
        -ms-transform: translate(75%, 0);
            transform: translate(75%, 0);
  }
}

@media (max-width: 1234.98px) {
  .body-dog::after {
    -webkit-transform: translate(65%, 0);
        -ms-transform: translate(65%, 0);
            transform: translate(65%, 0);
  }
}

@media (max-width: 1211.98px) {
  .body-dog::after {
    -webkit-transform: translate(55%, 0);
        -ms-transform: translate(55%, 0);
            transform: translate(55%, 0);
  }
}

@media (max-width: 1150.98px) {
  .body-dog::after {
    -webkit-transform: translate(35%, 0);
        -ms-transform: translate(35%, 0);
            transform: translate(35%, 0);
  }
}

@media (max-width: 1076.98px) {
  .body-dog::after {
    -webkit-transform: translate(30%, 0);
        -ms-transform: translate(30%, 0);
            transform: translate(30%, 0);
  }
}

@media (max-width: 991.98px) {
  .body-dog::after {
    -webkit-transform: translate(25%, 0);
        -ms-transform: translate(25%, 0);
            transform: translate(25%, 0);
  }
}

@media (max-width: 585.98px) {
  .body-dog::after {
    display: none;
  }
}

.body-dog__picture {
  position: relative;
  z-index: 3;
}

.body-dog__img {
  width: 100%;
  margin-top: -68px;
  margin-left: -130px;
}

@media (max-width: 1310.98px) {
  .body-dog__img {
    margin-left: -120px;
  }
}

@media (max-width: 1299.98px) {
  .body-dog__img {
    margin-left: -100px;
  }
}

@media (max-width: 1245.98px) {
  .body-dog__img {
    margin-left: -80px;
  }
}

@media (max-width: 1210.98px) {
  .body-dog__img {
    margin-left: -50px;
  }
}

@media (max-width: 1150.98px) {
  .body-dog__img {
    margin-left: -30px;
  }
}

@media (max-width: 1110.98px) {
  .body-dog__img {
    margin-left: 0px;
  }
}

@media (max-width: 585.98px) {
  .body-dog__img {
    display: none;
  }
}

.body-dog__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 25px 0px 25px;
  position: relative;
  z-index: 4;
}

@media (max-width: 1234.98px) {
  .body-dog__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media (max-width: 1234.98px) {
  .body-dog__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}

@media (max-width: 1036.98px) {
  .body-dog__content {
    padding: 0px 25px 0px 150px;
  }
}

@media (max-width: 767.98px) {
  .body-dog__content {
    padding: 0px 25px 0px 120px;
  }
}

@media (max-width: 630.98px) {
  .body-dog__content {
    padding: 0px 25px 0px 80px;
  }
}

@media (max-width: 454.98px) {
  .body-dog__content {
    padding: 0px 25px 0px 70px;
  }
}

@media (max-width: 419.98px) {
  .body-dog__content {
    padding: 0px 25px 0px 40px;
  }
}

@media (max-width: 439.98px) {
  .body-dog__content {
    padding: 0px 25px 0px 40px;
  }
}

@media (max-width: 339.98px) {
  .body-dog__content {
    padding: 0px 25px 0px 40px;
  }
}

.body-dog__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.16;
  color: #ffffff;
  max-width: 411px;
}

.body-dog__title:not(:last-child) {
  margin-bottom: 42px;
}

@media (max-width: 991.98px) {
  .body-dog__title {
    max-width: 411px;
  }
}

@media (max-width: 585.98px) {
  .body-dog__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 411px;
  }
}

@media (max-width: 515.98px) {
  .body-dog__title {
    font-size: 34px;
  }
}

@media (max-width: 482.98px) {
  .body-dog__title {
    font-size: 32px;
  }
}

@media (max-width: 435.98px) {
  .body-dog__title {
    font-size: 32px;
  }
}

@media (max-width: 409.98px) {
  .body-dog__title {
    font-size: 30px;
  }
}

@media (max-width: 392.98px) {
  .body-dog__title {
    font-size: 28px;
  }
}

@media (max-width: 374.98px) {
  .body-dog__title {
    font-size: 28px;
  }
}

@media (max-width: 363.98px) {
  .body-dog__title {
    font-size: 26px;
  }
}

@media (max-width: 340.98px) {
  .body-dog__title {
    font-size: 24px;
  }
}

@media (max-width: 328.98px) {
  .body-dog__title {
    font-size: 24px;
  }
}

.link-shadow {
  padding: 17px 34px 17px 34px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
